* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fraunces', serif;
}

header {
    height: 100vh;
    background-image: url('../images/bg-header.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
}

a {
    text-decoration: none;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.menu--area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.logo--name {
    color: #FFF;
    font-size: 2rem;
    font-weight: bold;
}

.hamburger--menu-img {
    display: none;
}

.hamburger--menu-img img {
    height: 24px;
    width: 24px;
}

nav menu {
    display: flex;
    list-style: none;
    gap: 40px;
    color: #FFF;
    font-family: 'Barlow', sans-serif;
    font-size: 0.9rem;
}

.hamburger--menu-area {
    background-color: #FFF;
    height: 300px;
    width: 90%;
    position: absolute;
    top: 90px;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    text-align: center;
    display: none;
    transition: .3s all ease;
}

.hamburger--menu-area::after {
    content: "";
    position: absolute;
    top: -20px;
    right: 0px;
    width: 1px;
    height: 1px;
    border: solid 30px transparent;
    border-bottom: solid 30px #FFF;
    border-right-width: 30px;
    border-right: 10px;
    border-top: none;
}

.hamburger--menu-area menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style: none;
}

.hamburger--menu-area menu a {
    color: #5A636C;
    font-weight: bold;
}

#contact--hamburger-menu {
    background-color: #FAD400 !important;
}

nav menu li {
    transition: .3s all ease;
}

nav menu li:hover {
    transform: scale(1.1);
}

nav menu a {
    text-decoration: none;
    color: #FFF;
}

#contact-button, #contact--hamburger-menu {
    background-color: #FFF;
    color: #000;
    border-radius: 5rem;
    padding: 1rem;
    font-weight: bold;
    transition: all 2s;
    font-size: 0.8rem;
    font-family: 'Fraunces', serif;
    transition: none;
    width: 50%;
}

#contact-button:hover {
    background-color: transparent;
    color: #FFF;
}

.container--header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container--header h1 {
    color: #FFF;
    margin: 3.7rem 0 2.7rem;
    font-size: 2.5rem;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.default--section-area, .work--section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.default--area-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 6rem;
}

.default--area-content h2 {
    font-size: 2.2rem;
    font-weight: bold;
    margin: 0rem 0 2rem 0;
    color: #23303E;
}

.default--area-content p {
    color: #898498;
    font-size: 0.92rem;
    font-weight: bold;
    padding-left: 0;
    margin-bottom: 2rem;
    line-height: 1.5rem;
}

.default--area-img, .default--area-img-stand {
    height: 75vh;
    background-size: cover;
    background-position: center;
    background-image: url('../images/egg-image.jpg');
}

.default--area-img-stand {
    background-image: url('../images/image-stand-out.jpg') !important;
}

section a {
    text-decoration: none;
    color: #23303E;
    margin-left: 0;
}

.work--area-img {
    display: flex;
    height: 30rem;
    flex-direction: column;
    justify-content: flex-end;
}

.cherry, .orange {
    background-image: url('../images/image-graphic-design.jpg');
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
}

.orange {
    background-image: url('../images/image-photography.jpg') !important;
}

.work--section h2 {
    margin: 3.7rem 0 2rem 1rem;
    font-weight: bold;
    text-align: center;
}

.work--section p {
    padding: 1rem 1.5rem;
    line-height: 1.3;
    text-align: center;
    margin-bottom: 2rem;
}

.testimonials--section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 6rem 0;
}

.testimonials--title {
    text-align: center;
    text-transform: uppercase;
    color: #898498;
    margin: 1rem 0 1.5rem;
    letter-spacing: 3px;
    font-size: 1rem;
    opacity: 0.9;
}

.testimonials--container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    width: 85vw;
    align-items: center;
}

.testimonials--content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.testimonials--content img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

.testimonials--content p {
    text-align: center;
    color: #898498
}

.testimonials--content h3 {
    margin-bottom: 0.5rem;
    color: hsl(212, 27%, 19%);
}

small {
    font-family: 'Barlow', serif;
    color: #898498
}

.section--gallery-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.clound {
    width: 25%;
    height: 25rem;
}

.gallery-image img {
    width: 100%;
    height: 25rem;
    object-position: center;
    object-fit: cover;
}

footer {
    text-align: center;
    background-color: hsl(168, 66%, 52%);
}

footer img {
    padding-top: 1rem;
}

footer menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 20px;
    margin-top: 2rem;
}

footer menu a {
    text-decoration: none;
    color: #5A636C;
}

.social--area {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 20px;
}

footer p {
    color: #5A636C;
    padding: 1rem 0;
}

@media (max-width: 768px) {
    .hamburger--menu-img {
        display: block;
    }
    nav {
        display: none;
    }
    .container--header {
        padding-left: 16px;
    }
    .default--section-area, .work--section {
        grid-template-columns: 1fr;
    }
    .default--area-img, .default--area-img-stand {
        height: 50vh;
    }
    .default--area-content {
        padding: 2rem;
    }
    .default--area-img {
        order: -1;
    }
    .testimonials--container  {
        grid-template-columns: 1fr;
    }
    .testimonials--content {
        margin-bottom: 20px;
    }
    .section--gallery-area  {
        grid-template-columns: repeat(2, 1fr);
    }
    .cherry, .orange {
        height: 40vh;
    }
    .gallery-image img {
        height: 18rem;
    }
}

@media (max-width: 480px) {
    .section--gallery-area  {
        grid-template-columns: 1fr;
    }
}